.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Dependencies
node_modules/

# Android Build
android/.gradle/
android/app/build/
android/build/
*.apk
*.aab

# iOS Build
ios/Pods/
ios/DerivedData/
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata

